
:root {
    /* Colors */
    --black-color: #000000;
    --grey-color: #cecece;
    --white-color: #FFFFFF;
}
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*, ::after, ::before {
    box-sizing: border-box;
}

/********** NavBar **********/
header {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 9997;
    transition: all 0.5s;
    padding: 15px;
    overflow-y: auto;
}
nav {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav * {
    margin: 0;
    padding: 0;
    list-style: none;
}
.nav-menu a{
    width: 100%;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 10px 18px;
    border-radius: 50px;
    background: #f2f3f5;
    overflow: hidden;
}
.nav-menu a span{
    display: none;
}
.nav-menu a:hover span{
    display: block;
}
.nav-menu a:hover{
    color: #fff;
    background: #0563bb;
}
.nav-menu .active{
    color: #fff;
    background: #0563bb;
}
.nav-menu a i {
    font-size: 20px;
}
#btn-menu{
    position: fixed;
    top: 0;
    right: 0;
    z-index: 9997;
    transition: all 0.5s;
    padding: 15px;
    font-size: 20px;
    display: none;
}
@media screen and (max-width: 700px) {
    #btn-menu{
        display: block;
    }
    .nav-menu{
        display: none;
    }
}
/********** NavBar **********/

/********** Back To Top **********/
.back-to-top {
    position: fixed;
    right: 15px;
    bottom: 15px;
    z-index: 996;
    background: #f2f3f5;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    transition: all 0.4s;
    font-size: 20px;
}
.back-to-top.no-active{
    visibility: hidden;
    opacity: 0;
}
.back-to-top.active {
    visibility: visible;
    opacity: 1;
}
.back-to-top:hover.active {
    color: #fff;
    background: #0563bb;
}
/********** Back To Top **********/

body #home , body #about , body #resume , body #skills , body #project , body #services , body #contact{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

/********** Titles **********/
#title {
    font-size: 50px;
    font-weight: 700;
    font-weight: bold;
    text-transform: uppercase;
    position: relative;
    padding-bottom: 8px;
    text-align: center;
}
#title::before {
    content: "";
    position: absolute;
    display: block;
    width: 120px;
    height: 1px;
    background: black;
    bottom: 1px;
    left: calc(50% - 60px);
}
#title::after {
    content: "";
    position: absolute;
    display: block;
    width: 40px;
    height: 3px;
    background: #0563bb;
    bottom: 0;
    left: calc(50% - 20px);
}
.title_2 {
    color: #6c757d;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
}
/********** Titles **********/

/********** About **********/
#about #info ul li{
    list-style: none;
    display: flex;
    margin-top: 5px;
    font-size: 20px;
}
#about #info ul li span:first-child{
    font-weight: 600;
    width: 150px;
}
#about #info ul li span:last-child,a{
    color: #6c757d;
}
#about #info #n_project span:first-child{
    color: #0563bb;
}
#about #info #n_project span:last-child{
    font-weight: 600;
    width: 150px;
}

#about #download{
    background: #f2f3f5;
    font-weight: 400;
    font-size: 20px;
    border: none;
}
#about #download:hover{
    color: #fff;
    background: #0563bb;
}
/********** About **********/

/********** My Skills **********/
body #skills .progress-title:first-child{
    font-weight: 600;
}
body #skills .progress{
    height: 20px;
}
/********** My Skills **********/

/********** Resume **********/
body #resume .title_2{
    margin-top: 25px;
    margin-bottom: 10px;
}

body #resume #body-education{
    border-left: solid 5px #0563bb;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 20px;
}
body #resume #body-education .education{
    position: relative;
}
body #resume #body-education .education::before{
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    left: -30px;
    background-color: #0563bb;
    border-radius: 50%;
}
body #resume #body-education .education div:first-child{
    color: #0563bb;
    font-weight: 600;
}
body #resume #body-education .education div:last-child{
    color: #6c757d;
    font-weight: 600;
}

body #resume #body-experience{
    border-left: solid 5px #0563bb;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 20px;
}
body #resume #body-experience .experience{
    position: relative;
}
body #resume #body-experience .experience::before{
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    left: -30px;
    background-color: #0563bb;
    border-radius: 50%;
}
body #resume #body-experience .experience div:first-child{
    color: #0563bb;
    font-weight: 600;
}
body #resume #body-experience .experience div:last-child{
    color: #6c757d;
    font-weight: 600;
}
/********** Resume **********/

/********** Projects **********/

/********** Projects **********/

/********** Services **********/
body #services .services-cart{
    background: #f2f3f5;
    border-radius: 16px;
    min-height: 200px;
}
body #services .services-cart:hover{
    background: #0563bb;
    transition: all 0.6s;
}
body #services .services-cart i{
    font-size: 70px;
    color: #0563bb;
}
body #services .services-cart:hover i{
    color: #000000;
    transition: all 0.6s;
}
body #services .services-cart div{
    font-weight: 700;
    font-size: 25px;
}
body #services .services-cart:hover div{
    color: #fff;
    transition: all 0.6s;
}
body #services .services-cart div:last-child{
    color: #6c757d;
    font-size: 20px;
}
body #services .services-cart:hover div:last-child{
    color: #fff;
    transition: all 0.6s;
}
/********** Services **********/


/********** Contact **********/
body #contact{
    background-image: url(../src/assets/map.png);
}
#contact input,button{
    height: 50px;
    border-radius: 16px;
}
#contact textarea{
    min-height: 100px;
    border-radius: 16px;
}
#contact #send{
    background: #f2f3f5;
    font-weight: 400;
    font-size: 20px;
    border: none;
}
#contact #send:hover{
    color: #fff;
    background: #0563bb;
}

#contact i {
    font-size: 20px;
    color: #6c757d;
    float: left;
    width: 44px;
    height: 44px;
    background: #eef7ff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    transition: all 0.6s ease-in-out;
}

#contact .contact-lec{
    font-size: 20px;
}
#contact .contact-lec:hover i{
    color: #fff;
    background-color: #0563bb;
}
#contact .contact-lec div div:first-child{
    font-weight: 600;
}
#contact .contact-lec div div:last-child{
    color: #6c757d;
}
/********** Contact **********/


/********** Foother **********/
body #foother{
    background: #f2f3f5;
}
body #foother #foother-title{
    font-weight: 700;
    font-size: 30px;
}
body #foother #foother-social{
    display: flex;
    gap: 15px;
}
body #foother #foother-social a{
    text-decoration: none;
    font-size: 25px;
}
body #foother #foother-social a i{
    color: #000000;
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    transition: all 0.6s ease-in-out;
}
body #foother #foother-social i:hover{
    color: #fff;
    background-color: #0563bb;
}
body #foother #copyright{
    font-size: 18px;
}
/********** Foother **********/